<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="../js/jquery.js"></script>
    <script src="../js/dataAdder.js"></script>
    
</head>

<body>
    <table align="center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>email</th>
                <th>ph-number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td><p>user1</p></td>
                <td><p>21</p></td>
                <td><p>user1@gmail.com</p></td>
                <td><p>123456789</p></td>
                <td><button id="delete">delete</button></td>
                <td><button id="edit">edit</button></td>
            </tr>
        </tbody>
    </table>
    <button id="add" onclick="window.location.href='./userform.html'">Add data</button>
</body>

</html>