<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="../js/jquery.js"></script>
    <script src="../js/dataAdder.js"></script>
    <link rel="stylesheet" href="../css/mainpage.css">

</head>

<body>
    <table class="usertable">
        <thead>
            <tr>
                <th>Name</th>
                <th class="age-head">Age</th>
                <th>Email</th>
                <th>Ph-number</th>
                <th>Actions</th>
                <th><button id="add" onclick="window.location.href='./userform.html'">Add</button></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>

</html>